body{
  background-color: rgb(65, 65, 110);
}
.container{
  background-color: rgb(155, 151, 151);
}


.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
